extends helper/layout
        
block head
    title server端渲染的react组件 -&gt; 页面
    link(rel="stylesheet", href="layout/css/layout.css")
    script(src="/lib/vendor/jquery-1.8.3.js")
    //- style.
    //-     body{
    //-         display: none;
    //-     }
block body
    
    include partial/login
    include partial/chatApp