extends helper/layout
        
block head
    title server端渲染的react组件 -&gt; 页面
    link(rel="stylesheet", href="layout/css/layout.css")
    script(src="/lib/vendor/jquery-1.8.3.js")
    script(src="https://npmcdn.com/es5-shim/es5-shim.min.js")
    script(src="https://npmcdn.com/react/dist/react.js")
    script(src="https://npmcdn.com/react-dom/dist/react-dom.js")
    //- style.
    //-     body{
    //-         display: none;
    //-     }
block body
    
    include partial/login
    include partial/chatApp
