extends helper/layout
block head
    title login
    link(rel="stylesheet", href="layout/css/layout.css")
    link(rel="stylesheet", href="layout/css/supersized.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0") 
block body
    #login-module.full-module.active
        //- .module-mask
        .module-content
            .avatar-ctn
                img.avatar(src="/img/avatar/default.jpg")
            .form#login-form
                //- input#alias-input(type="text", placeholder="alias, more than 2 chars")
                input#choose-user(type="text")
                a#login-btn.btn.btn-primary.btn-block.disabled(href="#") Login

    style.
        #choose-user{
            display: block;
            width: 100%;
            margin: 0.75em 0;
            font-size: 20px;
        }
    
    script(src="/lib/vendor/jquery-1.8.3.js")
    script(src="/lib/vendor/supersized.3.2.7.min.js")
    script(src="/lib/vendor/supersized-init.js")
    script(src="/lib/login.js")
