//- un escaped varibles
//- 直接连!= 或 换行
//- !=
#chat-ctn!= comHTML
//- 一个文件只能基于一个layout进行extend
//- extend ../helper/resizeable
//- block ver-left
//-     h2 test

//- like qq app, resize able
//- #chat-app.resizeable
//-     .chat-thread-list
//-     .resize-ver
//-     .chat-dialog
//-         ol#dialog-list
//-             li.item.left
//-                 img.avatar(src="http://chenllos.com/src/img/mark.jpg" alt="mark")
//-                 span.name Mark
//-                 p.bubble I'm talking about taking the entire social experience of college and putting it online.
//-                     span.tail-patch

//-             li.item.right
//-                 img.avatar(src="http://chenllos.com/src/img/wardo.jpg" alt="wardo")
//-                 span.name Wardo
//-                 p.bubble I can't feel my legs. 
//-                     span.tail-patch
            
//-             li.item.left
//-                 img.avatar(src="http://chenllos.com/src/img/mark.jpg" alt="mark")
//-                 span.name Mark
//-                 p.bubble I know.
//-                     span.tail-patch
//-     .resize-hor
//-     .chat-compose

script(src="lib/vendor/socket.io.js")
script(src="lib/bundle.js")