#login-module.full-module.active
    .module-mask
    .module-content
        .avatar-ctn
            img.avatar(src="/img/avatar/default.jpg")
        .form#login-form
            //- input#alias-input(type="text", placeholder="alias, more than 2 chars")
            select#choose-user(value="")
            a#login-btn.btn.btn-primary.btn-block.disabled(href="#") Login

style.
    #choose-user{
        display: block;
        width: 100%;
        margin: 0.75em 0;
        font-size: 20px;
    }